@import '../../lib/styles/_appTheme';

$meiko--primary: #db7093;
$meiko--active: #afeeee;

$theme-maps: (
  mko: (
    base-background: #f1f1f1,
    base-colour: #000,
    primary-background: $meiko--primary,
    primary-colour: #fff,
    active-background: $meiko--active,
    active-colour: #000,
    faded-out-background: #ccc,
    faded-out-colour: $grey33,
    info-colour: paleturquoise,
    success-colour: forestgreen,
    warning-colour: orangered,
    danger-colour: firebrick,
    control-focused: #000,
    control-border-colour: rgba(0, 0, 0, 0.1)
  )
);

@include appTheme($theme-maps) {
  // Any app specifics would go here.
  // All mko component theming is in the mixin
}
